name: Deploy to Fly.io (Backend)

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout code
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Set up Docker
    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    # 3. Install Flyctl
    - name: Install flyctl
      uses: superfly/flyctl-actions/setup-flyctl@v1

    # 4. Deploy to Fly.io
    - name: Deploy to Fly.io
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
      run: |
        flyctl deploy --config fly.toml